<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			<p>Generators, normally fueled with diesel or other fossil fuel, are used either to supplement the grid electricity during a blackout or as the primary source of electricity in off-grid locations. However, these generators are noisy, produce emissions, need maintenance, and consume costly fuel. One solution is to use alternative, renewable power either to replace or supplement the generator and / or grid.</p>
		</div>
	</div>
</div>
<!--begin::Portlet-->
<div class="m-portlet m-portlet--tabs">
	<div class="m-portlet__head">
		<div class="m-portlet__head-tools">
			<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1_1" role="tab">
						<i class="ivycon-solar-power"></i>
						Solar power
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_2" role="tab">
						<i class="ivycon-hydro-power"></i>
						Micro-hydro
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_3" role="tab">
						<i class="ivycon-wind-power"></i>
						Wind power
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_4" role="tab">
						<i class="ivycon-battery-4"></i>
						Fuel Cells
					</a>
				</li>
				<li class="nav-item m-tabs__item">
					<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_5" role="tab">
						<i class="ivycon-ups"></i>
						UPS
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="tab-content">
			<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
				<div class="col-lg-6 col-md-12 no-padding-left">
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Benefits &amp; limitations
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							Benefits
							<ul>
								<li>No noise, as there are no moving parts;</li>
								<li>Lower maintenance requirements;</li>
								<li>No emissions;</li>
								<li>No inputs needed from an operator.</li>
							</ul>

							Some of the limitations facing solar PV are
							<ul>
								<li>No electricity is generated at night or on cloudy days;</li>
								<li>May not handle the high starting currents required by heavy machinery;</li>
								<li>Solar exposure varies by location, season and time of day, thus impacting the overall output of any system.</li>
							</ul>

							For these reasons, some operations use solar power in conjunction with diesel generators and / or the electricity grid. The solar system takes up part of the load while saving (but not eliminating) diesel expenditure. This decision depends on solar exposure of the location and the electricity needs of the equipment.
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				
				<div class="spacer-xlg show-on-mobile"></div>
				<div class="col-lg-6 col-md-12 no-padding-right">
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Cost
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>As the demand for solar power systems continues to rise and manufacturing volume increases, costs are decreasing: from 2006 to 2016, the average cost of a system dropped from $9/watt to approximately $4/watt when professionally installed. This price is expected to drop further.</p>

							<p>The exact cost will depend on the design load. Sizing for light loads is an affordable option. In this solution, the solar system is used to support non-critical loads that don’t require heavy starting current, such as lighting. The light points are wired through a separate circuit that can be powered only through solar. This solution is favored by those who are restricted in the size of solar plants they can install either due to space or finances.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>

				<div class="clear"></div>
				<div class="spacer-xlg"></div>

				<!--begin::Portlet-->
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="flaticon-statistics"></i>
								</span>
								<h3 class="m-portlet__head-text">
									
								</h3>
								<h2 class="m-portlet__head-label m-portlet__head-label--info">
									<span>
										Payback period
									</span>
								</h2>
							</div>
						</div>
						<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-angle-down"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-refresh"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-expand"></i>
									</a>
								</li>
								<li class="m-portlet__nav-item">
									<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
										<i class="la la-close"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-portlet__body">
						The payback period for a solar PV system can range from 3 to 15 years. A number of factors influence the payback period:
						<ol>
							<li>Total cost of the system.</li>
							<li>Price for electricity and / or diesel for generator.</li>
							<li>Available tax incentives and state rebates.</li>
							<li>Amount of daily sunlight hours and solar radiation reaching the location.</li>
						</ol>

						<p>However, when you consider that a system will be producing energy for decades, the difference between a 5-year versus a 10-year payback isn’t a lot. Solar is a risk-free investment. As grid electricity rates continue to rise, the payback period of your solar system decreases. After reaching the payback period, you enjoy decades of free electricity. Most PV systems come with a 25 year warranty, but many systems last 40 years or longer.</p>

						<p>Solar systems can provide real savings while contributing to the energy needs of a site. To find a guesstimate of cost savings and payback periods from a solar PV system, visit <a class="m-link" href="http://pvwatts.nrel.gov/index.php" target="_blank">this website</a>. This site takes into account the amount of solar energy a location receives at different times of the year.</p>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
			<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
				Micro-hydro electricity uses a source of running water, like a stream, to generate electricity. The electricity is produced from the energy in water flowing from a higher level to a lower level which turns a turbine at the bottom end of the system. Micro-hydro electricity generation can be very cost effective. According to Energy Alternatives Ltd, "Our experience with micro-hydro systems has demonstrated that water power will produce between 10 and 100 times more power than PV or wind for the same capital investment." If your source of running water is good, this system runs constantly, providing a steady supply of off-grid energy. Fewer batteries are needed to store the energy because there is less (or zero) time during which the system isn't harvesting energy.
			</div>
			<div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
				A small-scale wind turbine produces electricity from wind when moving air causes the turbine to rotate. Most small wind turbines look like a miniaturized version of the large, utility-scale, three-bladed turbines, but other models can vary widely in appearance. Depending on location, wind power can be a viable option, and a good-sized wind turbine can generate most or all of a compound’s electricity needs. Conversely, a smaller turbine could be used to supplement other energy sources.
			</div>
			<div class="tab-pane" id="m_tabs_1_4" role="tabpanel">
				Fuel cells operate by generating electricity from a fuel through chemical reaction similar to that of a battery. They will need refueling but can use a number of different fuels, have limited harmful emissions, and are a relatively quiet means to generate electricity. They have a small foothold in the market, primarily for remote off-grid applications.
			</div>
			<div class="tab-pane" id="m_tabs_1_5" role="tabpanel">
				Conventional battery-powered, uninterruptible power supplies (UPS) offer “no break” power supply during a blackout, providing a bridge to allow a generator to start, or allow equipment to shut down safely. They have low maintenance requirements, fast responses, and high power quality. However, they are costly, and so are most commonly used for short duration outages or in critical applications.
			</div>
		</div>
	</div>
</div>
<!--end::Portlet-->