<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h3>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">	
	<div class="col-lg-6 col-md-12 no-padding-left">
		<!--begin::Portlet-->
		<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="flaticon-statistics"></i>
						</span>
						<h2 class="m-portlet__head-label m-portlet__head-label--info">
							<span>
								Primary Pollutants
							</span>
						</h2>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<ul class="m-portlet__nav">
						<li class="m-portlet__nav-item">
							<a href="" data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-angle-down"></i>
							</a>
						</li>
						<li class="m-portlet__nav-item">
							<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-refresh"></i>
							</a>
						</li>
						<li class="m-portlet__nav-item">
							<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-expand"></i>
							</a>
						</li>
						<li class="m-portlet__nav-item">
							<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-close"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="m-portlet__body">
				When fuel is burned in a vehicle engine, there are various emissions which are expelled through the tailpipe. The most common emissions are:
				<img class="float-right img-responsive" alt="Air Pollution and Transport" src="../../../../assets/cleanFleet/img/AirPollutionAndTransport.jpg"/>
				<ul>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="small particles emitted from the exhaust. PM 10: Particles smaller than 10 microns. PM 2.5: Particles smaller than 2.5 microns." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Particulate matter (PM)">Particulate matter (PM)</a>
					</li>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="NOx is the common name for nitrogen oxide (NO) and nitrogen dioxide (NO2)." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Nitrogen oxides (NOx)">Nitrogen oxides (NO<sub>x</sub>)</a>
					</li>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="A colorless, odorless and tasteless — but toxic — gas formed in incomplete combustion. CO is extremely dangerous if inhaled at high concentrations because it has a greater affinity than oxygen for red blood cells (hemoglobin), reducing its ability to transport oxygen to vital organs." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Carbon monoxide (CO)">Carbon monoxide (CO)</a>
					</li>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="Comprised of a wide range of individual substances including hydrocarbons (alkenes, alkenes, and aromatics), halocarbons (e.g. trichloroethylene), and oxygenates (alcohols, aldehydes, and hetons). They are all organic compounds and are volatile enough to exist as vapor in the atmosphere under normal conditions." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Volatile Organic Compounds (VOCs)">Volatile Organic Compounds (VOCs)</a>
					</li>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="Lead is a bluish or silver-gray soft metal. Two of its most important forms in terms of air pollution are tetraethyl lead and tetra methyl lead. These two forms of lead are used as 'anti-knock' additives in petrol." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Lead particles (Pb)">Lead particles (Pb)</a>
					</li>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="A colorless, heavy gas with a pungent smell, also known to be an irritant. SO2 causes acidification." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Sulphur Dioxide (SO2)">Sulphur Cxides (SO<sub>x</sub>)</a>
					</li>
					<li>
						<a class="m-nav__link" href="javascript:void(0)" data-content="A colorless gas formed during the combustion of any material containing carbon and is an important greenhouse gas." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Carbon Dioxide (CO2)">Carbon dioxide (CO<sub>2</sub>)</a>
					</li>
				</ul>
				
			</div>
		</div>
		<!--end::Portlet-->
	</div>	

	<div class="spacer-lg show-on-mobile"></div>

	<div class="col-lg-6 col-md-12 no-padding-right">
		<!--begin::Portlet-->
		<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon m--hide">
							<i class="flaticon-statistics"></i>
						</span>					
						<h2 class="m-portlet__head-label m-portlet__head-label--warning">
							<span>
								Secondary Pollutants
							</span>
						</h2>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<ul class="m-portlet__nav">
						<li class="m-portlet__nav-item">
							<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-angle-down"></i>
							</a>
						</li>
						<li class="m-portlet__nav-item">
							<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-refresh"></i>
							</a>
						</li>
						<li class="m-portlet__nav-item">
							<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-expand"></i>
							</a>
						</li>
						<li class="m-portlet__nav-item">
							<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
								<i class="la la-close"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="m-portlet__body">
				Some air pollutants are not directly emitted but are formed later through reactions with other elements. These secondary pollutants include:
				<ul>
					<li>Ground-level ozone (O3)</li>
					<li>Acid rain</li>
					<li>Very small particulate matter (PM2.5)</li>
				</ul>
				Except for carbon dioxide, all of these pollutants have direct impacts on <a routerLink="/health-impacts" class="m-link">human health</a>. However, rising concentrations of carbon dioxide in the atmosphere are <a routerLink="/environmental-impacts" class="m-link">impacting the environment</a>; indirectly, this will create significant effects on human health and the economy.
			</div>
		</div>
		<!--end::Portlet-->
	</div>
</div>
