<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="flaticon-statistics"></i>
					</span>
					<h3 class="m-portlet__head-text">
						
					</h3>
					<h2 class="m-portlet__head-label m-portlet__head-label--info">
						<span>
							The 3-Way Catalyst
						</span>
					</h2>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-angle-down"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-refresh"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-expand"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-close"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<img class="float-right img-responsive" alt="3 way catalyst" src="../../../../assets/cleanFleet/img/PetrolVehicles3-waycatalyst.jpg"/>
			Since 1981, most petrol-powered vehicles have been equipped with a 3-way catalytic converter which reduces emissions by over 90%. Effective operation of a 3-way catalyst requires unleaded petrol because lead contaminates the catalyst. Petrol contains sulphur but at levels substantially lower than diesel. Further lowering sulphur levels reduces emissions of  sulphur oxides and increases the efficiency of the 3-way catalyst.
			<div class="clear"></div>
			<div class="spacer-xs"></div>
		</div>
	</div>
	<!--end::Portlet-->

	<div class="spacer-xlg"></div>

	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="flaticon-statistics"></i>
					</span>
					<h3 class="m-portlet__head-text">
						
					</h3>
					<h2 class="m-portlet__head-label m-portlet__head-label--info">
						<span>
							Emissions Reduction
						</span>
					</h2>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-angle-down"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-refresh"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-expand"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-close"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			The 3-way catalytic converter reduces carbon monoxide, hydrocarbons and nitrogen oxide emissions (hence the name “3-way”). These catalysts require that engines run with just enough air to burn the fuel (called the stoichiometric air-to-fuel ratio), and are therefore combined with an advanced electronic fuel and air injection system that constantly measures and controls this ratio. Lower fuel sulphur levels result in better emissions control because otherwise the sulphur competes with the other reactants. However, sulphur does not poison the 3-way catalyst in the same way as lead does, and most 3-way catalysts are effective even at relatively high sulphur levels.
		</div>
	</div>
	<!--end::Portlet-->

	<div class="spacer-xlg"></div>

	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="flaticon-statistics"></i>
					</span>
					<h3 class="m-portlet__head-text">
						
					</h3>
					<h2 class="m-portlet__head-label m-portlet__head-label--info">
						<span>
							Retrofitting
						</span>
					</h2>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-angle-down"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-refresh"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-expand"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-close"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<p>3-way catalysts can be retrofitted into older vehicles; however, this requires the installation of advanced air-to-fuel measurement equipment and an electronic fuel injection system. This makes retrofits of petrol vehicles (mostly passenger cars) prohibitively expensive, and is therefore unusual. However, a poisoned 3-way catalyst can be exchanged relatively easy for a new, well-functioning one.</p>

			<p>There have been cases of catalytic converters being removed before the vehicles are shipped to countries which don’t have emission or equipment standards. When purchasing petrol vehicles, request that the catalytic converter isn’t removed.</p>
		</div>
	</div>
	<!--end::Portlet-->
</div>
