<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--full-height">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h4 class="m-portlet__head-text">
						Your vehicle’s emissions depend on its age, technology, condition, and quality and type of fuel.
					</h4>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">			
			<div class="m-accordion m-accordion--default m-accordion--solid m-accordion--section  m-accordion--toggle-arrow" id="m_accordion_1" role="tablist">				
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="true" class="m-accordion__item-head" data-toggle="collapse" href="#m_accordion_1_item_1_body" id="m_accordion_1_item_1_head" role="tab" ng-reflect-href="#m_accordion_1_item_1_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-vehicle-tech"></i>
						</span>
						<span class="m-accordion__item-title">
							Age and Technology
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_1_head" class="m-accordion__item-body collapse show" data-parent="#m_accordion_1" id="m_accordion_1_item_1_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								<img class="float-left img-responsive padding-right-sm" alt="Age and technology" src="../../../../assets/cleanFleet/img/InfluenceOfTechnology-age.jpg"/>

								The age of vehicles and the use of emission reduction technologies have a great effect on emission levels. Older vehicles tend to emit more pollutants and are less fuel efficient than newer ones. This is especially true for older vehicles with mechanical injection systems (typically pre-1990 for passenger vehicles and pre-1994 for trucks).
							</p>
							<p>
								Vehicles manufactured since then have electronically-controlled fuel and air injections systems; these electronic systems are more accurate and reliable than the mechanical injection systems. Together with the use of <a routerLink="/fuels" class="m-link">unleaded petrol and low sulphur diesel</a>, these standards have enabled the introduction of more advanced emission control technologies for <a routerLink="/emission-control-for-petrol-vehicles" class="m-link">petrol</a> and <a routerLink="/emission-control-for-diesel-vehicles" class="m-link">diesel</a> vehicles.
							</p>
						</div>
					</div>
				</div>
										
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_2_body" id="m_accordion_1_item_2_head" role="tab" ng-reflect-href="#m_accordion_1_item_2_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-truck"></i>
						</span>
						<span class="m-accordion__item-title">
							Diesel vehicles
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_2_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_2_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								Diesel engines are more fuel-efficient compared to petrol engines, and thus emit less CO<sub>2</sub>. However, diesel engines have relatively higher emissions of particulate matter (PM) and nitrogen oxides (NO<sub>x</sub>).
							</p>
						</div>
					</div>
				</div>
										
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_3_body" id="m_accordion_1_item_3_head" role="tab" ng-reflect-href="#m_accordion_1_item_3_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-car-side"></i>
						</span>
						<span class="m-accordion__item-title">
							Petrol vehicles
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_3_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_3_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								These are not as fuel efficient as diesel but they produce lower levels of particulate matter and NO<sub>x</sub> emissions. Carbon monoxide (CO) emissions are higher for petrol-powered vehicles; however, CO emissions are easily reduced with a catalyst and are not deemed as harmful to human health as particulate matter and NO<sub>x</sub> emissions.
							</p>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_4_body" id="m_accordion_1_item_4_head" role="tab" ng-reflect-href="#m_accordion_1_item_4_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-motorcycle"></i>
						</span>
						<span class="m-accordion__item-title">
							2-stroke vs 4-stroke
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_4_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_4_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								Motorcycles used in developing countries and many older motorcycles use a two-stroke engine. The main reasons for buying a two-stroke motorcycle were the lower purchase price and the availability.
							</p>
							<img class="float-right img-responsive" alt="Influence of tech on motorcycles" src="../../../../assets/cleanFleet/img/InfluenceOfTechnology-motorcycles.gif"/>
							<p>
								However, 4-stroke engines have several advantages. A 4-stroke engine is cleaner and emits substantially less volatile organic compounds compared to a 2-stroke engine. In many parts of the world, the use of two-stroke technology is being phased out due to environmental considerations.
							</p>
							<p>
								Although the 4-stroke engine usually costs a bit more, the improved fuel economy make the four-stroke engine a more economic and environmentally sound choice:</p>
								<ul>
									<li>It consumes 5 to 20% less fuel, thus providing a quick pay-back period to compensate for the slightly higher purchase price;</li>
									<li>It requires less maintenance;</li>
									<li>It needs no separate lubricating oil (a two-stroke motorcycle requires a dedicated lubricating oil, adding to the operating cost).</li>
								</ul>
							<p>
								Some newer 2-stroke engines have catalyst and direct injection systems. However, the endurance of the catalyst is a problem, and the cost of a direct injected 2-stroke engine is similar to a 4-stroke engine.</p>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_5_body" id="m_accordion_1_item_5_head" role="tab" ng-reflect-href="#m_accordion_1_item_5_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-fuel"></i>
						</span>
						<span class="m-accordion__item-title">
							Fuel quality
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_5_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_5_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								Sulphur is naturally found in both diesel and petrol; as it is not burned in the combustion process, it is emitted as particulate matter and SOx which can seriously damage human health. High levels of sulphur also inhibit or damage emission control technologies.
							</p>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_6_body" id="m_accordion_1_item_6_head" role="tab" ng-reflect-href="#m_accordion_1_item_6_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-electric-vehicle"></i>
						</span>
						<span class="m-accordion__item-title">
							New vehicle technologies
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_6_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_6_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								Other currently available vehicle technologies such as <a routerLink="/electric-vehicles" class="m-link">hybrid, battery electric</a>, <a routerLink="/cleaner-vehicles" class="m-link">natural gas, biodiesel and ethanol</a> vehicles.
							</p>
							<p>
								For an example of issues to consider when <a routerLink="/case-studies" class="m-link">selecting an alternative vehicle</a>. For an example of how better management could decrease fleet size and costs despite an increase in program activities, see <a routerLink="/case-studies" class="m-link">UNHCR’s Global Fleet Management.</a>
							</p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>
