<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			Always use unleaded petrol and fuels with the lowest level of sulphur available. Unleaded petrol is available globally, while low sulphur fuels are becoming the standard in an increasing number of countries.
		</div>
	</div>
	<div class="spacer-xlg"></div>
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1_1" role="tab">
							<i class="ivycon-fuel"></i>
							Low Sulphur fuel
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_2" role="tab">
							<i class="ivycon-fuel-1"></i>
							Unleaded Petrol
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_3" role="tab">
							<i class="ivycon-lab"></i>
							Alternative Fuels
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
					<div class="col-md-12 no-padding-left">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Damage to emission control technology
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								From a fleet management perspective, a significant disadvantage of high sulphur fuel is that it prevents the use of effective tailpipe emission control technologies. For petrol vehicles, 3-way catalysts can still function but their effectiveness is drastically reduced. For diesel vehicles, high sulphur levels clog and damage devices such as particulate filters, oxidation catalysts or other emission control technologies, making them useless.
							</div>
						</div>
						<!--end::Portlet-->
					</div>
					
					<div class="spacer-xlg show-on-mobile"></div>
					<div class="col-md-12 no-padding-right">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Natural Sulphur Levels
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								Sulphur occurs naturally in crude oil. Diesel and petrol have different levels of sulphur because they use different fractions of the crude in the production process. The sulphur level in crude also varies globally, from very low “sweet crude” (around 1,000 to 5,000 ppm) to “sour crude” (around 10,000 ppm to 33,000 ppm). The resulting “natural” sulphur level in diesel can thus be from 1,000 ppm to more than 10,000 ppm. Typically, sulphur levels are approximately 2,000 to 5,000 ppm if the diesel has not been desulphurized. For petrol, the “natural” sulphur level is generally between 50 ppm to 1,000 ppm.
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg clear" style="padding-bottom:10px;"></div>
					<!--begin::Portlet--> 
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi clear" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Producing Low Sulphur diesel
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							Fuel sulphur levels depend on the natural sulphur level found in the crude oil, which vary by region. However, several technologies exist to desulphurize diesel and petrol at the refinery, such as hydro-treating or sulphur adsorption. Costs for upgrading or reconfiguring the refinery equal approximately 2 to 10 cents per gallon of fuel. Experience has shown that it is more cost-effective to move directly to the lowest sulphur level (&lt;15 ppm) instead of taking incremental steps. The benefits arising from lower sulphur levels—such as better air quality, lower health costs, and less wear and tear on vehicle engines—outweigh the costs.
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
					<div class="col-lg-6 col-md-12 no-padding-left">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Unleaded Petrol
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								<p>For petrol vehicles, unleaded petrol (gasoline) should be used. Unleaded petrol is better for the engine, eliminates emissions of lead particles, and enables the use of catalytic converters for further emissions reductions. Leaded petrol has been phased out globally, although it is still available in Algeria, Yemen and Iraq as of 2017.</p>

								<p><a class="m-nav__link" href="javascript:void(0)" data-content="Lead is a bluish or silver-gray soft metal. Two of its most important forms in terms of air pollution are tetraethyl lead and tetra methyl lead. These two forms of lead are used as 'anti-knock' additives in petrol." data-placement="top" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Lead">Lead</a> has several health effects, but the most serious are its neuropsychological effects and damage caused to the central nervous system. Children are particularly vulnerable, as exposure to lead may lead to learning disabilities and lowered IQ.</p>
							</div>
						</div>
						<!--end::Portlet-->
					</div>
					
					<div class="spacer-xlg show-on-mobile"></div>
					<div class="col-lg-6 col-md-12 no-padding-right">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Why was lead used in the first place?
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								Lead was introduced to enhance the octane rating of petrol in order to prevent engine knocking, resulting in smoother engine operation. Today, modern refineries do not need to add lead to petrol in order to attain the desired octane ratings. Several alternative additives that can boost octane exist, such as MTBE, MMT and ethanol. In addition, refineries can be upgraded to produce petrol with the desired octane rating without using additives. The most cost-effective way to produce unleaded petrol — either through additives or refinery upgrades — depends on the design of the refinery.
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg clear" style="padding-bottom:10px;"></div>
					<!--begin::Portlet--> 
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi clear" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											All vehicles can run on unleaded petrol
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							The claim that some vehicles need leaded fuel is not true. Modern fuels with the right octane rating are better for engines; in addition, use of unleaded petrol results in less wear and tear on other vehicle components such as the exhaust system. For very old cars (pre-1978), there was a legitimate concern that piston valve seats might be damaged with unleaded petrol. However, this isn’t a significant problem. Unleaded petrol is now the standard in virtually every country around the world.
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
					<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
						<div class="m-portlet__body spacer-lg">
							In many parts of the world, there are alternatives to petrol and diesel fuels. The major alternative fuels available today are ethanol, biodiesel, natural gas and biogas. The main factor to consider in terms of what alternative fuel to choose is local availability. Many fuel providers are now supplying low blends of biodiesel or bioethanol. Selecting natural gas or biogas requires vehicles to be modified and the necessary infrastructure to be available. CNG is a possible option but can sometimes cause problems if the infrastructure is not well built.
						</div>
					</div>
					<div class="spacer-md"></div>
					<div class="col-md-12 no-padding-left">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Ethanol
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								<p>Ethanol is well-suited for petrol engines; it has a clean combustion process resulting in lower emissions of particulate matter, hydrocarbons and carbon monoxide. It also has lower CO<sub>2</sub> emissions. Benefits from CO<sub>2</sub> emissions reductions and cost competitiveness differ substantially depending upon which feedstock is utilized.</p>

								<p>All petrol vehicles can use petrol that has been blended with up to 10% ethanol without any problems. There are purpose-built engines that can run on 100% ethanol.</p>

								<p>Ethanol production from corn is heavily dependent on subsidies. It reduces CO2 emissions by 20-30% on a-life cycle basis compared with petrol use.</p>

								<p>Ethanol from grain requires heavy subsidies. CO2 emission reductions are approximately 30-40% on a life-cycle basis compared with petrol use.</p>

								<p>Ethanol from sugarcane is fairly competitive, and is approximately half the cost of ethanol from grain or corn. CO<sub>2</sub> emission reductions are estimated to be 50-90% on a lifecycle basis compared with petrol use.</p>
							</div>
						</div>
						<!--end::Portlet-->
					</div>
					
					<div class="spacer-xlg"></div>
					<div class="col-md-12 no-padding-right">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Biodiesel
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								<p>Biodiesel is usually made from rapeseed, and the resulting product is called rapeseed methyl esther (RME). Biodiesel can also be produced using soybeans or sunflower plants. Biodiesel can reduce CO<sub>2</sub> emissions by approximately 40-60%, including emissions released during the fuel production stage. Another important factor is that biodiesel is inherently a zero-sulphur diesel fuel.</p>

								<p>The price of biodiesel is dependent upon feedstock prices (i.e. rapeseed, sunflower, or soybeans). It is seen as a niche fuel or low-blending fuel. Current biodiesel production is dependent on government subsidies and regulations.</p>
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg clear" style="padding-bottom:10px;"></div>
					<!--begin::Portlet--> 
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi clear" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Natural gas and Biogas
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<img class="float-left img-responsive padding-right-sm padding-right-sm img-400" alt="Biogas" src="../../../../assets/cleanFleet/img/FuelsBiogas.jpg"/>

							<p>Natural gas and biogas are essentially the same fuel but with different origins. Natural gas/biogas is made up of >95% methane (CH4), is clean-burning and (compared to petrol or diesel) has lower emissions of hydrocarbons, particulate matter and carbon monoxide. Furthermore, using biogas greatly reduces CO<sub>2</sub> emissions.</p>

							<p>Natural gas is a fossil fuel that is found in underground gas fields. It must be compressed so that it can be transported and stored in a vehicle tank.</p>

							<p>Biogas is a renewable fuel produced from the “digestion” of household or agricultural wastes.</p>

							<p>Natural gas and biogas can be used in petrol and diesel vehicles, although some engine adjustments are necessary. For heavy-duty diesel engines, an additive can be added to boost the cetane number.</p>

							<p>Natural gas and biogas are low-cost fuels. However, the introduction and use of natural gas or biogas requires huge infrastructure costs.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
			</div>
		</div>
	</div>
	<!--end::Portlet-->
	<div class="spacer-lg"></div>
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			<p>See <a routerLink="/case-studies" class="m-link">See WFP &amp; Maintenance Waste</a> and <a routerLink="/case-studies" class="m-link">UNAMA’s Waste Oil Heater</a> to learn how different organizations manage their waste oil.</p>
		</div>
	</div>	
</div>
