<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			There are several vehicle technologies that use either less fuel or an alternative fuel. Currently, the main options are clean diesel vehicles, compressed natural gas (CNG) vehicles and electric vehicles (hybrid, plug-in and battery).
		</div>
	</div>
	<div class="spacer-md"></div>

	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="flaticon-statistics"></i>
					</span>
					<h3 class="m-portlet__head-text">
						
					</h3>
					<h2 class="m-portlet__head-label m-portlet__head-label--info">
						<span>
							Clean diesel vehicles
						</span>
					</h2>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-angle-down"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-refresh"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-expand"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-close"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			Diesel engines are inherently more efficient than petrol engines, but historically have had problems with high emissions, especially nitrogen oxides and particulate matter. A <a routerLink="/emission-control-for-diesel-vehicles" class="m-link">clean diesel vehicle</a> is equipped with advanced emissions control technologies such as diesel particulate filters and selective catalytic reduction (SCR) systems. It also uses ultra-low sulphur fuels (less than 15 ppm Sulphur).
		</div>
	</div>
	<!--end::Portlet-->

	<div class="spacer-xlg"></div>

	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="flaticon-statistics"></i>
					</span>
					<h3 class="m-portlet__head-text">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</h3>
					<h2 class="m-portlet__head-label m-portlet__head-label--info">
						<span>
							Compressed natural gas (CNG) vehicles
						</span>
					</h2>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-angle-down"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-refresh"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-expand"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-close"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			CNG vehicle engines have been adjusted to run on natural gas (95% methane) which is stored under high pressure in a fuel tank in the car. Older engines, both diesel and petrol, can be retrofitted to run on CNG. New engines can be made run on both CNG and on petrol (bi-fuel). CNG vehicles use a lower sulphur fuel and cleaner combustion processes, resulting in less particulate matter and hydrocarbon emissions. Dedicated CNG vehicles typically have lower emissions of nitrogen oxides compared with standard petrol vehicles. CNG vehicles can also use a 3-way catalyst which further reduces emissions. For a case study, see the <a routerLink="/case-studies" class="m-link">UPS’s Environmental Strategy</a>.
		</div>
	</div>
	<!--end::Portlet-->

	<div class="spacer-xlg"></div>

	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="flaticon-statistics"></i>
					</span>
					<h3 class="m-portlet__head-text">
						
					</h3>
					<h2 class="m-portlet__head-label m-portlet__head-label--info">
						<span>
							Electric vehicles
						</span>
					</h2>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-angle-down"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-refresh"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-expand"></i>
						</a>
					</li>
					<li class="m-portlet__nav-item">
						<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
							<i class="la la-close"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<p>There are three types of electric vehicles: hybrid, plug-in hybrid and battery electric.</p>

			<p>Hybrid electric vehicles are powered using a combination of an internal combustion engine and an electric motor. Plug-in hybrid electric vehicles have the added feature that their battery can be recharged by plugging into an electricity source. Hybrid electric vehicles are more energy efficient than fossil fuel vehicles.</p>

			<p>Find more information on <a routerLink="/electric-vehicles" class="m-link">electric vehicles</a>. For an example of issues to consider when selecting an alternative vehicle, see Case Study: <a routerLink="/case-studies" class="m-link">Selecting an alternative vehicle</a>. Learn about the <a routerLink="/case-studies" class="m-link">FedEx Hybrid Vehicle Strategy</a> and its benefits.</p>
		</div>
	</div>
	<!--end::Portlet-->
</div>
