<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left m-aside-left--skin-light aside--not-fixed">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light" data-menu-vertical="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<div class="menuHighlight hide-on-mobile" style=" height: 60vh; position: absolute;top: 0;left: 0;float: left;width: 83px;"></div>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/air-pollution-and-transport" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-car-polluting"></i>
					<span class="m-menu__link-text">Air Pollution &amp; Transport</span>
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">Air Pollution &amp; Transport</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/influence-of-technology-on-emissions" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-vehicle-tech"></i>
					<span class="m-menu__link-text">
						Influence of Technology on Emissions
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Influence of Technology on Emissions
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/health-impacts" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-ios-pulse"></i>
					<span class="m-menu__link-text">
						Health Impacts
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Health Impacts
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/environmental-impacts" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-climate-change"></i>
					<span class="m-menu__link-text">
						Environmental Impacts
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Environmental Impacts
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/climate-change-and-the-greenhouse-effect" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-global-warming"></i>
					<span class="m-menu__link-text">
						Climate Change &amp; the Greenhouse Effect
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Climate Change &amp; the Greenhouse Effect
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>

			<li class="m-menu__section show-on-mobile">
				<h4 class="m-menu__section-text">
					Actions
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>

			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/journey-management" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-journey"></i>
					<span class="m-menu__link-text">
						Journey Management
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Journey Management
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/eco-driving" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-eco-driving-1"></i>
					<span class="m-menu__link-text">
						Eco Driving
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Eco Driving
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/maintenance" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-maintenance"></i>
					<span class="m-menu__link-text">
						Maintenance
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Maintenance
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/fuels" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-fuel"></i>
					<span class="m-menu__link-text">
						Fuels
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Fuels
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__section show-on-mobile">
				<h4 class="m-menu__section-text">
					Tehchnology
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/emission-control-for-diesel-vehicles" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-diesel-particulate-filter"></i>
					<span class="m-menu__link-text">
						Emission Control for Diesel Vehicles
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Emission Control for Diesel Vehicles
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/emission-control-for-petrol-vehicles" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-catalytic-converter"></i>
					<span class="m-menu__link-text">
						Emission Control for Petrol Vehicles
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Emission Control for Petrol Vehicles
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/cleaner-vehicles" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-clean-truck"></i>
					<span class="m-menu__link-text">
						Cleaner Vehicles
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Cleaner Vehicles
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/electric-vehicles" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-electric-vehicle"></i>
					<span class="m-menu__link-text">
						Electric Vehicles
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Electric Vehicles
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/generator-alternatives" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-generator-alternatives"></i>
					<span class="m-menu__link-text">
						Generator Alternatives
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Generator Alternatives
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/case-studies" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-content-14"></i>
					<span class="m-menu__link-text">
						Case Studies
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Case Studies
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__section show-on-mobile">
				<h4 class="m-menu__section-text">
						Strategy Checklist
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="hover" data-redirect="true">
				<a routerLink="/strategy-checklist" class="m-menu__link">
					<i class="m-menu__link-icon ivycon-checklist"></i>
					<span class="m-menu__link-text">
						Strategy Checklist
					</span>									
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Strategy Checklist
								</span>
							</span>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
