<!-- begin::Quick Nav -->
<!-- <ul class="m-nav-sticky" style="margin-top: 30px;" appunwraptag=""data-toggle="m-scroll-top" data-scroll-offset="80" data-scroll-speed="300">
	
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Eco Driving" data-placement="left">
		<a id="m_calculator_tab_3-link" data-toggle="tab" href="#m_calculator_tab_3">
			<i class="ivycon-eco-driving-1"></i>
		</a>
	</li>
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Switch to HEVs / BEVs" data-placement="left">
		<a id="m_calculator_tab_4-link" data-toggle="tab" href="#m_calculator_tab_4">
			<i class="ivycon-electric-vehicle"></i>
		</a>
	</li>
	
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Purchase" data-placement="left">
		<a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" >
			<i class="la la-cart-arrow-down"></i>
		</a>
	</li>
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Documentation" data-placement="left">
		<a href="http://keenthemes.com/metronic/documentation.html" >
			<i class="la la-code-fork"></i>
		</a>
	</li>
	<li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Support" data-placement="left">
		<a href="http://keenthemes.com/forums/forum/support/metronic5/" >
			<i class="la la-life-ring"></i>
		</a>
	</li>
</ul> -->
<!-- end::Quick Nav -->
