<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			Eco-driving refers to a driving style characterized by lower speeds, gentler acceleration and braking, and "thinking ahead" in traffic. With improved driver behavior, there are great safety benefits. Better driving also saves on fuel consumption, and maintenance costs for brakes, clutches and vehicle suspension.
		</div>
	</div>
	<div class="spacer-xlg"></div>
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1_1" role="tab">
							<i class="ivycon-wallet-money"></i>
							Eco-driving reduces costs and increase safety
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_2" role="tab">
							<i class="ivycon-eco-driving"></i>
							General tips for Eco-driving
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_3" role="tab">
							<i class="ivycon-fuel-1"></i>
							Idling wastes fuel
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
					<img class="float-left img-responsive padding-right-sm img-400" alt="Eco Driving Reduces Costs" src="../../../../assets/cleanFleet/img/EcoDrivingReducesCosts.jpg"/>

					<p>Increased fuel consumption and maintenance requirements, and lower safety occur with aggressive driving. Time studies show that fast starts, weaving in and out of traffic, and accelerating to and from traffic signals do not save much time. Instead, these behaviors waste fuel and quickly wear out car components such as brakes and tires.</p>

					<p>Training courses in eco-driving result in a 20% reduction in fuel consumption. Without refresher courses and incentives, drivers can return to some of their previous driving styles, thus reducing the long-term benefits of the training. However, some of the benefits still remain: drivers who have completed these courses usually retain a 5-10% improvement over the long term.</p>
					<div class="clear"></div>
					<div class="spacer-xs"></div>
				</div>
				<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
					<ul>
						<li>Start slowly, avoiding rapid acceleration.</li>
						<li>Avoid idling or long warm-up and cool-down periods.</li>
						<li>Gear-up, use the highest gear possible, and lower the engine speed.</li>
						<li>Aim to maintain a constant speed, and avoid pumping the accelerator.</li>
						<li>Anticipate traffic conditions.</li>
						<li>Accelerate and decelerate smoothly, avoiding aggressive braking: it is safer, uses less gas, and reduces brake wear.</li>
						<li>Drive at posted speed limits. Use cruise control on the highway.</li>
					</ul>
				</div>
				<div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
					<p>If your vehicle is idling for more than 30 seconds, you are needlessly burning fuel.</p>

					<p>The estimated fuel consumption of an idling engine is 0.6 liters per hour per liter of engine displacement. This means that an idling 3.5 liter engine consumes more than 2 liters of fuel per hour, without traveling anywhere.</p>

					<p>Some drivers idle because they think it keeps the engine warm and therefore reduces wear and tear from starting and stopping. Engines with fuel injection and electronic ignition don’t need the same warm-up period as older engines. In fact, excessive idling increases maintenance costs more than turning the engine on and off. The money you save by not idling will more than offset any costs for wear-and-tear on your vehicle.</p>

					<p>In cold weather, the best way to warm your vehicle is to drive it. You can also use a block heater and a timer. Your engine will start and reach its optimal operating temperature more quickly and you will reduce the impact of cold engine starts.</p>
				</div>
			</div>
		</div>
	</div>
	<!--end::Portlet-->
</div>
