<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--full-height">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title spacer-xlg">
					<p>
						A malfunctioning engine will emit substantially more pollutants and consume more fuel than one that is well-tuned. Typically, 10-15% of the vehicles in a fleet produce about 50% of emissions. Proper inspection and maintenance programs ensure that these vehicles are identified and repaired or replaced. Good maintenance will also extend the life of all parts of the vehicle and provide environmental benefits.
					</p>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">			
			<div class="m-accordion m-accordion--default m-accordion--solid m-accordion--section  m-accordion--toggle-arrow" id="m_accordion_1" role="tablist">				
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="true" class="m-accordion__item-head" data-toggle="collapse" href="#m_accordion_1_item_1_body" id="m_accordion_1_item_1_head" role="tab" ng-reflect-href="#m_accordion_1_item_1_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-ribbon"></i>
						</span>
						<span class="m-accordion__item-title">
							Keep your engine in good condition
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_1_head" class="m-accordion__item-body collapse show" data-parent="#m_accordion_1" id="m_accordion_1_item_1_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>Regular inspections and maintenance procedures are essential for keeping your fleet operating with minimal environmental consequences. Well-performed inspections and follow-up repairs typically improve fuel consumption by 3-7% and reduce emissions of <a class="m-nav__link" href="javascript:void(0)" data-content="Small particles emitted from the exhaust." data-placement="bottom" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Particulate Matter">particulate matter</a>, 
								
							<a class="m-nav__link" href="javascript:void(0)" data-content="NOx is the common name for nitrogen oxide (NO) and nitrogen dioxide (NO2)." data-placement="bottom" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Nitrogen Oxides (NOx)">Nitrogen oxides</a> and 
							
							<a class="m-nav__link" href="javascript:void(0)" data-content="Comprised of a wide range of individual substances including hydrocarbons (alkenes, alkenes, and aromatics), halocarbons (e.g. trichloroethylene), and oxygenates (alcohols, aldehydes, and hetons). They are all organic compounds and are volatile enough to exist as vapor in the atmosphere under normal conditions." data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Volatile Organic Compounds (VOCs)">volatile organic compounds</a> by 10-20%. These reductions depend on the initial condition of the fleet.</p>
							
							<img class="float-right img-responsive" alt="Maintenance" src="../../../../assets/cleanFleet/img/Maintenance2.jpg"/>

							<p>In its initial stages, an inspection and maintenance program does not need to be highly advanced. Fuel economy improvements and environmental benefits can be obtained through simple tasks such as checking that:</p>
							
							<ul>
								<li>The fuel injection system and the distributor system are working well;</li>
								<li>Fuel and air filters are clean; </li>
								<li>Tires are properly inflated and aligned;</li>
								<li>Spark plugs are not fouled;</li>
								<li>Safety checks of brakes and suspension.</li>
							</ul>
							<p>In later phases, more comprehensive steps can be taken, such as exhaust measurement of smoke opacity which can help in the identification of malfunctioning engines. (Opacity is the degree to which smoke blocks light, and the basis for measuring the amount of smoke coming from a diesel-powered vehicle.) Adding environmental components to your maintenance program requires some knowledge, but is usually not costly. See an example of the potential emission and cost reductions: <a routerLink="/case-studies" class="m-link">Jakarta Inspection &amp; Maintenance Program</a>.</p>
						</div>
					</div>
				</div>
										
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_2_body" id="m_accordion_1_item_2_head" role="tab" ng-reflect-href="#m_accordion_1_item_2_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-fuel"></i>
						</span>
						<span class="m-accordion__item-title">
							Fuel injection system
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_2_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_2_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<img class="float-left img-responsive padding-right-sm" alt="Maintenance" src="../../../../assets/cleanFleet/img/Maintenance.jpg"/>

							<p>The fuel injection system and the distributor system differ with the age of the vehicle and whether it uses diesel or petrol fuel. Older vehicles have mechanically controlled injection and distributor systems that require regular checks and need to be adjusted manually to “tune” the engine.</p>

							<p>Modern trucks and cars (typically trucks manufactured after 1994 and passenger cars manufactured after 1990) have electronic injection systems that adjust themselves automatically several times per second. These vehicles cannot be “tuned” manually. However, there are still several parts of the fuel injection and distributor system that need to be checked and replaced if they are old and worn down such as the fuel pump, the injector and the pressure regulator. Parts that typically need replacement or cleaning in diesel vehicles are the diesel nozzle and the injector.</p>
						</div>
					</div>
				</div>
										
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_3_body" id="m_accordion_1_item_3_head" role="tab" ng-reflect-href="#m_accordion_1_item_3_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-maintenance"></i>
						</span>
						<span class="m-accordion__item-title">
							Replaceable items
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_3_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_3_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>The items that need to be replaced on a regular basis in all vehicles are the spark plugs, air filter, fuel filter and some emission control filters. When changing the oil, it is essential to use good quality, energy-conserving oil with a viscosity grade that is consistent with the grade specified in the vehicle operating manual. When spark plugs are replaced, the technician should check the ignition wires and the cap and rotor if your car/truck has them.</p>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_4_body" id="m_accordion_1_item_4_head" role="tab" ng-reflect-href="#m_accordion_1_item_4_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-car-polluting"></i>
						</span>
						<span class="m-accordion__item-title">
							Black smoke
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_4_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_4_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<img class="float-left img-responsive padding-right-sm" alt="Maintenance" src="../../../../assets/cleanFleet/img/MaintenanceBlackSmoke.jpg"/>
							<p>Heavy black smoke coming out of a tailpipe is a sign that the vehicle has a malfunctioning diesel engine. Black smoke results from over-fueling diesel engines; this permits some extra power but consumes more fuel. In addition, black smoke can also be caused by driving in high altitude conditions. If you are constantly driving in high altitudes, it is important to have your vehicle tuned to these conditions. The most common causes of black smoke from diesel engines are dirty injectors and nozzle tip wear. Using adulterated fuel can also cause black smoke.</p>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_5_body" id="m_accordion_1_item_5_head" role="tab" ng-reflect-href="#m_accordion_1_item_5_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-car-tire"></i>
						</span>
						<span class="m-accordion__item-title">
							Tires
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_5_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_5_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<img class="float-left img-responsive padding-right-sm img-300" alt="Maintenance" src="../../../../assets/cleanFleet/img/MaintenanceTires.jpg"/>
							<p>Tire pressure has an impact on fuel economy, vehicle safety and tire life. According to a study by the International Energy Agency (IEA), up to 30% of vehicles have one or more under-inflated tires. Poorly inflated tires can increase fuel consumption by several percentages. The IEA also estimates fuel consumption increases of 2.5-3% for every psi (pound per square inch) below the optimal tire pressure. Check the vehicle door stickers for minimum cold tire inflation pressure recommendations.</p>
							<div class="clear"></div>
							<div class="spacer-xs"></div>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_6_body" id="m_accordion_1_item_6_head" role="tab" ng-reflect-href="#m_accordion_1_item_6_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-car"></i>
						</span>
						<span class="m-accordion__item-title">
							Wheel alignment
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_6_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_6_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>If your tire treads show uneven wear, then the wheels are not properly aligned. Improper alignment wastes fuel and wears tires out quickly. A quick look at the wear of your vehicle’s treads can indicate if the wheels are properly aligned. Wearing on just one or the other side of the wheel is a sign of poor alignment. A well-equipped tire center can align your wheels.</p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>

</div>
