<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h3>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--full-height">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title spacer-md">
					<p>A long term environmental effect from air pollution is climate change. It is characterized by rising average global temperatures. Average global temperatures have always shifted; these historical changes have generally occurred over thousands of years, giving animal and plant species time to adapt.</p>
					
					<p>However, the current rate of change is extremely quick. Without enough time to adapt to these change, there will be serious detrimental effects on plant and animal life, as well as consequent negative impacts on virtually every economic sector. The majority of scientists, climate experts and governments agree that these impacts will be severe and that action must be taken.</p>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">			
			<div class="m-accordion m-accordion--default m-accordion--solid m-accordion--section  m-accordion--toggle-arrow" id="m_accordion_1" role="tablist">				
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="true" class="m-accordion__item-head" data-toggle="collapse" href="#m_accordion_1_item_1_body" id="m_accordion_1_item_1_head" role="tab" ng-reflect-href="#m_accordion_1_item_1_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-fuel"></i>
						</span>
						<span class="m-accordion__item-title">
							Fossil fuels are changing the global climate
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_1_head" class="m-accordion__item-body collapse show" data-parent="#m_accordion_1" id="m_accordion_1_item_1_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>
								More than 95% of the fuel used for transport (e.g. diesel, petrol or kerosene for aircraft) is fossil-based. When using fossil fuels, carbon materials (such as oil or coal) are removed from the earth's crust. Extraction and use of these fuels emit the carbon as carbon dioxide (CO<sub>2</sub>).
							</p>
						</div>
					</div>
				</div>
										
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_2_body" id="m_accordion_1_item_2_head" role="tab" ng-reflect-href="#m_accordion_1_item_2_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-analytics-chart-graph"></i>
						</span>
						<span class="m-accordion__item-title">
							Atmospheric concentrations of CO<sub>2</sub> are increasing
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_2_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_2_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<img class="float-right img-responsive img-300" alt="Climate Change Atmospheric CO2" src="../../../../assets/cleanFleet/img/ClimateChangeAtmosphericCO2.jpg"/>
							<p>
								In 1800, humankind started large-scale burning of fossil fuels. Since then, the concentrations of CO<sub>2</sub> in the atmosphere have increased from 280 ppm (parts per million) to the current level of approximately 370 ppm.
							</p>
						</div>
					</div>
				</div>
										
				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_3_body" id="m_accordion_1_item_3_head" role="tab" ng-reflect-href="#m_accordion_1_item_3_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-greenhouse-effect"></i>
						</span>
						<span class="m-accordion__item-title">
							The Greenhouse Effect
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_3_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_3_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<img class="float-left img-responsive padding-right-sm img-400" alt="Climate Change Greenhouse Effect" src="../../../../assets/cleanFleet/img/ClimateChangeGreenhouseEffect.jpg"/>
							<p>Atmospheric CO<sub>2</sub> concentrations reflect heat from the earth back to the planet’s surface. Without this natural greenhouse effect caused by this “CO<sub>2</sub> blanket”, the earth would be too cold to sustain life.</p>
							
							<p>However, higher concentrations of CO<sub>2</sub> in the atmosphere increase this natural greenhouse effect; in other words, the earth’s “blanket” is now getting thicker. This is causing a “human-induced greenhouse effect”, resulting in higher average global temperatures.</p>
						</div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_4_body" id="m_accordion_1_item_4_head" role="tab" ng-reflect-href="#m_accordion_1_item_4_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-thermometer-1"></i>
						</span>
						<span class="m-accordion__item-title">
							Rising temperatures
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_4_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_4_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<img class="float-left img-responsive padding-right-sm img-400" alt="Climate Change Rising Temperatures" src="../../../../assets/cleanFleet/img/ClimateChangeTemperature.jpg"/>
							<p>Already, an approximate increase of 0.6°C in average global temperatures has been measured. This is the fastest increase in average temperatures in 10,000 years. Unless we drastically reduce current rates of fossil fuel use, the global mean temperature will increase between 1.4°C and 5.8°C by the year 2100.</p>
							
							<p>These estimated increases may sound insignificant. However, even the most minuscule increase in global mean temperature will have enormous impacts on the natural environment, people’s health, and society at large.</p>
						</div>
						<div class="clear"></div>
						<div class="spacer-xs"></div>
					</div>
				</div>

				<div class="m-accordion__item m-accordion__item--primary">
					<div aria-expanded="false" class="m-accordion__item-head collapsed" data-toggle="collapse" href="#m_accordion_1_item_5_body" id="m_accordion_1_item_5_head" role="tab" ng-reflect-href="#m_accordion_1_item_5_body">
						<span class="m-accordion__item-icon">
							<i class="ivycon-yang-ying"></i>
						</span>
						<span class="m-accordion__item-title">
							Impacts
						</span>
						<span class="m-accordion__item-mode"></span>
					</div>
					<div aria-labelledby="m_accordion_1_item_5_head" class="m-accordion__item-body collapse" data-parent="#m_accordion_1" id="m_accordion_1_item_5_body" role="tabpanel" style="">
						<div class="m-accordion__item-content">
							<p>A wide range of impacts of climate change on the natural environment have already been observed by scientists and researchers. Some impacts include: shrinking of glaciers; thawing of permafrost; changes in the patterns of freezing and earlier breakup of ice on rivers and lakes; shifts in plant and animal ranges; and decline of some plant and animal populations.</p>
							
							The impacts on human society are numerous:
							<ul>
								<li>Food security will be compromised as agricultural production is impacted.</li>
								<li>Freshwater resources will decrease in vulnerable areas.</li>
								<li>Heat waves will increase cardiovascular (heart and lung system), respiratory and other diseases.</li>
								<li>Vector-borne diseases, such as malaria and cholera, are expected to increase and spread.</li>
								<li>Infrastructure designed to cope with expected rain levels will become vulnerable to flooding and landslides.</li>
								<li>Cyclones and hurricanes will become more destructive.</li>
								<li>People in vulnerable areas who are dependent on nature for their livelihoods will suffer most.</li>
							</ul>
							<p>
								For more information on climate change, visit <a class="m-link" href="http://www.ipcc.ch" target="_blank">www.ipcc.ch</a> and <a class="m-link" href="http://unfccc.int/2860.php" target="_blank">www.unfccc.chint</a>
							</p>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
