<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">		
	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1_1" role="tab">
							<h3>CNG vs Electricity</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_2" role="tab">
							<h3>DHL</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_7" role="tab">
							<h3>FedEx</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_9" role="tab">
							<h3>Jakarta</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_3" role="tab">
							<h3>TNT</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_5" role="tab">
							<h3>WFP</h3>
						</a>
					</li>										
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_6" role="tab">
							<h3>UNAMA</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_4" role="tab">
							<h3>UNHCR</h3>
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_8" role="tab">
							<h3>UNICEF</h3>
						</a>
					</li>					
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_0" role="tab">
							<h3>UPS</h3>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<!-- BEGIN: Selecting an Alternative Vehicle -->
				<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
					<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
						<div class="m-portlet__body spacer-lg">
							Three aspects to consider when choosing an alternative vehicle (apart from availability) are: emissions, energy, and economics. This case study compares CNG (compressed natural gas) and Hybrid Electric vehicles.
						</div>
					</div>
					<div class="spacer-xlg"></div>

					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										
									</h5>
									<h3 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Emissions
										</span>
									</h3>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							All currently available alternative vehicles tend to have fewer emissions compared with internal combustion engine vehicles. Owing to more stable engine operation conditions, Hybrids have an advantage over conventional engine design. CNG vehicles are preferable to diesel vehicles due to the use of cleaner burning fuel. The size of this difference depends on the exact nature of the fuel and utilization of emissions control technologies.
						</div>
					</div>
					<!--end::Portlet-->
				
					<div class="spacer-xlg"></div>
				
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Energy
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p><img class="float-right img-responsive img-300" alt="Case Studies alternate vehicles" src="../../../../assets/cleanFleet/img/Case_Studies_alternate_vehicle_energy.jpg"/>The major difference between the alternative vehicles is the reduction potential for fuel consumption and thus CO<sub>2</sub> emissions.</p>

							<p>The potential reduction in energy use for Hybrid passenger cars is 30-40% when compared with petrol vehicles. For Hybrid city buses and delivery trucks, which have a lot of stop-and-go movement, the fuel reduction is around 25-30% when compared with standard diesel buses. (By comparison, a fully electric city bus uses 80% less energy than a diesel bus).</p>

							<p>The benefits of Hybrids depend on the circumstances under which they are driven (i.e. the drive cycle). The more the vehicle is in stop-and-go traffic, the greater the fuel savings. Using Hybrid technology with a highway truck provides minimal benefits.</p>

							<p>Replacing petrol vehicles with CNG passenger cars can reduce energy use by approximately 10% in terms of the petrol equivalent. Replacing diesel vehicles with CNG buses and delivery trucks actually uses more energy, because diesel buses are highly efficient. A purpose-built CNG bus that replaces a diesel bus is estimated to use 10-15% more energy, whereas a retrofitted CNG bus is estimated to use about 10-40% more energy.</p>
						</div>
					</div>
					<!--end::Portlet-->

					<div class="spacer-xlg"></div>
				
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_3">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											The life-cycle cost
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>Buying a Hybrid or CNG vehicle is more costly, although the cost is coming down. However, given the lower fuel consumption, the total life-cycle cost can be equal to or lower than that of a conventional vehicle. The life-cycle cost includes the cost of buying, fueling and maintaining the vehicle.</p>

							<p>Currently, a new Hybrid passenger car can cost up to 20% more than a conventional model. Hybrid buses and trucks are 30% to 60% more expensive than diesel versions. However, the costs of Hybrid buses and trucks vary greatly among manufacturers, and as the market matures, the price is decreasing. Given the longer work life of buses and trucks, there is more time to recoup the upfront cost through fuel savings.</p>

							<p>Fuel costs are usually assumed to be between 30-40% of the total operating costs of a truck (including the cost of the driver); buying a Hybrid truck with 25-35% less fuel consumption can therefore be profitable. The “payback time” for the extra purchase price of a Hybrid can be calculated based on mileage, fuel prices, and actual fuel savings.</p>

							<p>Compared with standard vehicles, the extra cost for CNG passenger cars (usually sold as bi-fuel vehicles) are similar to that for Hybrids. CNG trucks and buses are estimated to cost 10-20% more than comparable diesel trucks and buses, but in this case the prices are also very uncertain. CNG vehicles do not save fuel, but CNG fuel is generally less expensive. However, the infrastructure needed to fill the vehicles is costly. The profitability of this option depends heavily on the price of CNG fuel and on the existence of a network of filling stations.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: Selecting an Alternative Vehicle -->

				<!-- BEGIN: DHL -->
				<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">					
					<div class="col-lg-12">
						<h3 class="m--font-info">DHL’s GoGreen Strategy</h3>
					</div>
					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_4">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											GoGreen and carbon management
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<img class="float-left img-responsive padding-right-sm" alt="Case Studies DHL" src="../../../../assets/cleanFleet/img/CaseStudiesDHL.jpg"/>
							DHL/Deutsche Post has introduced a range of GoGreen products in Germany, Sweden and Switzerland. Through this initiative, a range of freight services that are low-carbon or carbon-neutral are available.
						</div>						
						<div class="clear"></div>
						<div class="spacer-xs"></div>
					</div>
					<!--end::Portlet-->
				
					<div class="spacer-xlg"></div>
				
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_5">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											How does it work?
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>In order to ensure that GoGreen packages are indeed low-carbon or carbon neutral, DHL/Deutsche Post has introduced a carbon management system. The carbon management system tracks how many carbon credits are needed to fulfill carbon neutral or low carbon freight service requirements.</p>

							<p>These carbon credits are ‘transferred’ through several carbon-reducing projects. With GoGreen, shipping is either carried out through DHL’s growing fleet of alternative fuel and advanced technology vehicles, or transport-related emissions of carbon dioxide are offset by a combination of internal and external initiatives, in accordance with the Kyoto Protocol's intentions for carbon trading.</p>
						</div>
					</div>
					<!--end::Portlet-->

					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					
					<div class="col-lg-6 col-md-12 no-padding-left">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_6">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h5 class="m-portlet__head-text">
											
										</h5>
										<h4 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Changes in the fleet
											</span>
										</h4>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								The carbon-reducing projects within the fleet include activities such as:
								<ul>
									<li>Introduction of hybrid delivery trucks in Germany and Japan</li>
									<li>Blending regular fuels with biofuels whenever possible</li>
									<li>Introduction of biogas vehicles in Sweden and Switzerland</li>
									<li>Testing of fuel cell vehicles in Japan</li>
								</ul>
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg hide-on-mobile"></div>
					
					<div class="col-lg-6 col-md-12 no-padding-right">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_7">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h5 class="m-portlet__head-text">
											
										</h5>
										<h4 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Global Activities
											</span>
										</h4>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								Activities undertaken around the world include:
								<ul>
									<li>Reforestation projects in the Amazon basin</li>
									<li>Solar energy projects in Germany</li>
									<li>Methane capture projects in Germany</li>
									<li>Small-scale solar projects in India and Sri Lanka</li>
								</ul>
								This program will be expanded to other countries and with additional products and services.
							</div>
						</div>
						<!--end::Portlet-->
					</div>
					<div class="clear"></div>
				</div>
				<!-- END: DHL -->

				<!-- BEGIN: TNT -->
				<div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_8">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											TNT’s Progress Ladder
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<img class="float-right img-responsive img-400" alt="TNT progress ladder" src="../../../../assets/cleanFleet/img/CaseStudiesTNTprogressladder.gif"/>
							<p>This strategy acknowledges that different regions in the world are at different levels when it comes to transport and environment. Therefore, Driving Clean presents a "progress ladder"; it starts with the most basic steps that can be taken to clean up a vehicle fleet and builds up to new emerging technologies.</p>
						</div>
						<div class="spacer-sm"></div>
						<div class="clear"></div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: TNT -->

				<!-- BEGIN: UNHCR -->
				<div class="tab-pane" id="m_tabs_1_4" role="tabpanel">
					<div class="col-lg-12">
						<h3 class="m--font-info">UNHCR’s Global Fleet Management</h3>
					</div>
					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_9">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Background
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>In 2011, an evaluation of UNHCR’s fleet management found light vehicles were managed in a decentralized manner. The fleet was entirely under the responsibility of field offices. The lack of centralized supervision by headquarters led to low fleet performance, poor asset management and increased costs.</p>

							<p>In January 2014, UNHCR established the centralized Global Fleet Management (GFM) function with the following goal: To provide UNHCR field offices and operations with appropriate, cost-effective, safe vehicles and professional fleet management services to support optimum program delivery. Vehicles are now procured centrally by the GFM function in Budapest, and rented to field offices. A global vehicle insurance scheme has been established, and a centralized vehicle disposal service for field offices has been introduced.</p>
						</div>
					</div>
					<!--end::Portlet-->
				
					<div class="spacer-xlg"></div>
				
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_10">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Impacts
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>After one year of operation, fleet size decreased by 11%, despite a strong increase in program activities in 2014. A good fleet management system can improve scheduling of vehicle use, avoiding empty trips or combining trips; better scheduling lowers costs and emissions while providing opportunity to decrease the fleet size. In addition, average vehicle age dropped by 21%, from 5.85 to 4.63 years. A newer fleet will tend to be cleaner and more efficient.</p>

							<p>Procurement costs fell by 21%, a potential annual saving of US$ 5 million. This is largely the result of centralized direct procurement from vehicle manufacturers and higher discounts available with larger order quantities. In addition, standardization of vehicles has resulted in the procurement of a reduced number of models from 35 to 23, a 34% decrease. This also means a 43% decrease in suppliers, from 44 down to 25.</p>

							<p>Centralized disposal generated approximately US$ 10 million in 2014. The establishment of GFM and the rollout of the UNHCR Fleet Strategy resulted in an immediate positive financial impact and improved asset control while continuously delivering a significant return on investment to the organization.</p>

							<p>GFM has strongly contributed to smoother cash flow management for field offices: offices are charged a rental fee that is one-third of the cost of the vehicle at the beginning of the first year. This rental fee progressively decreases over the years and is expected to stabilize at a level which is lower than the procurement cost over 5 years.</p>

							<p>In addition, if a vehicle is no longer required, the rental can be terminated. This allows field offices to allocate funds to program-related activities instead of investing in vehicles. GFM also introduced a successful centralized vehicle disposal process managed and conducted by the Asset and Fleet Management Section. UNHCR now sells its redundant vehicles through professional auctions.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: UNHCR -->

				<!-- BEGIN: WFP -->
				<div class="tab-pane" id="m_tabs_1_5" role="tabpanel">
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_11">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											WFP Reduces Emissions &amp; Costs
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>In Afghanistan’s rugged terrain with its limited infrastructure, the World Food Programme (WFP) relies heavily on aircraft, trucks, four-wheel drives and diesel generators to ensure food and staff are in place to deliver life-saving support to 3.5 million people.</p>

							<p>When WFP began reporting on greenhouse gases in 2008, Afghanistan operations consumed almost two million liters of diesel fuel. Since then, WFP retrofitted nearly 2,000 energy-efficient security floodlights and office lights, installed solar power at remote sites, and used new software to improve fleet management. The result has been a reduction of 25 percent in fuel consumption; in addition, greenhouse gas emissions are down by 16 percent.</p>
		
							<p>WFP Afghanistan is not alone. Globally, WFP reduced greenhouse gas emissions by nearly 10 percent between 2008 and 2013.</p>
		
							<p>WFP prioritizes cost-effective energy efficiencies that reduce costs and emissions simultaneously. Key achievements include:</p>
							
							<ul>
								<li><strong>More efficient trucks</strong> A regional fleet of 218 new trucks for emergencies in Asia and Africa has improved fuel efficiency by around 30 percent.</li>
								<li><strong>Smart fleet management</strong> a dedicated Fleet Management System monitors fuel and vehicle usage of 800 trucks and is WFP’s biggest single source of greenhouse gas savings. WFP’s 3,000 light vehicles were added in 2012; their fuel consumption has fallen by 9 percent due to re-routing, bundling of missions, better maintenance and replacing older vehicles.</li>
								<li><strong>Driver training</strong> more than 1,700 WFP drivers and 700 from partner agencies have completed a WFP-designed course in fuel-efficient, safe driving.</li>
								<li><strong>Optimizing Aviation</strong> new software analyzes individual routes and aircraft to select the right-sized, most fuel-efficient aircraft available, reducing costs, fuel consumption and greenhouse gas emissions.</li>
								<li><strong>Flying less</strong> Remote delivery of training sessions and in-house meetings has saved at least 220 tonnes of CO<sub>2</sub>e and more than USD 400,000.</li>
								<li><strong>No-cost savings</strong> Many offices have cut energy use by at least 20 percent through energy efficiency gains that pay for themselves in weeks or months. In Afghanistan, Nepal, Mauritania, Niger and Senegal, staff have downsized equipment, replaced lighting and improved temperature controls and overnight shutdown practices.</li>
								<li><strong>Cost-effective investment</strong> WFP’s Energy Efficiency Programme, a UN first that collects an internal ‘tax’ on vehicles, has co-funded 30 projects globally that will save 2,375 tonnes of CO<sub>2</sub>e and USD 1.3 million per year.</li>
								<li><strong>Greening HQ</strong> WFP’s Rome headquarters, accounting for 7 percent of its total emissions, has installed efficient condensing boilers and replaced 7,000 lights.<br>
								The Italian government-funded “Landmark HQ” refurbishment is seeking Platinum certification under the LEED green building scheme by 2018.
								</li>
								<li><strong>Solar power</strong> The WFP-managed United Nations Humanitarian Response Depot in Accra, Ghana installed a 24kW photovoltaic system on the roof of the office building to provide the daytime electrical needs of the office. Solar panels were installed to provide hot water in bathrooms. This has led to a noticeable reduction in monthly costs.</li>
							</ul>
						</div>
					</div>
					<!--end::Portlet-->
				
					<div class="spacer-xlg"></div>
				
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_12">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h5 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h5>
									<h4 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											WFP &amp; Maintenance Waste
										</span>
									</h4>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>Maintaining vehicles in top shape has a down side: it creates waste. Old tires, spent batteries, broken parts and thousands of liters of used engine oil are all potentially damaging for the environment if they are not disposed of properly.</p>

							<p>WFP's logistics team in Chad wanted practical and responsible waste management and recycling options. A lubricant procurement contract signed with Libya Oil in May 2012 specified that all oil purchased from the company would be taken back for reprocessing at the end of its useful life. Libya Oil also agreed to take WFP’s existing stockpile of used oil.</p>

							<p>The contract is a great example of sustainable procurement at work. Recycling is guaranteed at the time of purchase. WFP doesn’t have to worry about disposal once the product is no longer needed, thus avoiding the environmental and cost implications.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: WFP -->

				<!-- BEGIN: UNAMA -->
				<div class="tab-pane" id="m_tabs_1_6" role="tabpanel">
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_13">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											UNAMA’s Waste Oil Heater
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>The UN Assistance Mission in Afghanistan, UNAMA, is using waste vehicle oil as heating fuel. The building heater is located in the workshop and warms the 400 square meter workspace during the winter months. The use of waste oil in the place of purchased heating oil represents an annual saving of around $3,600.</p>

							<p>UNAMA’s Transport Workshop first introduced the waste oil heater back in 2012 which has resulted in numerous benefits including:</p>
							<ul>
								<li>A cost-free oil heater;</li>
								<li>Extremely low emissions due to efficient burning;</li>
								<li>Reduced administrative action required to procure heating oil or dispose of the waste oil products;</li>
								<li>Better workplace conditions for the staff operating the workshop;</li>
								<li>Minimal maintenance required by the mechanics;</li>
								<li>The technology is relatively low tech and economical — the cost of the investment was recovered after three winters.</li>
							</ul>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: UNAMA -->

				<!-- BEGIN: FedEx -->
				<div class="tab-pane" id="m_tabs_1_7" role="tabpanel">
					<div class="col-lg-12">
						<h3 class="m--font-info">FedEx Hybrid Vehicle Strategy</h3>
					</div>
					<div class="spacer-lg clear"></div>
					<p>
						<img class="float-left img-responsive padding-right-sm" alt="Case Studies FedEx on HEV" src="../../../../assets/cleanFleet/img/CaseStudiesFedExHEV.jpg"/>
						In 2004, FedEx Express – together with the Eaton Corporation and the environmental organization Environmental Defence – introduced the FedEx OptiFleet E700, a hybrid electric vehicle (HEV) delivery truck, into its delivery fleet.</p>

					<p>This new HEV delivery truck has been found to decrease particulate emissions by 96%, reduce smog-causing emissions (nitrogen oxides and hydrocarbons) by 65%, and reduce fuel consumption by over 30%.</p>
					
					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_14">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											About the HEV strategy
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>FedEx Express and Environmental Defence started this collaborative project in 2000 in order to create a delivery truck that would dramatically decrease emissions and fuel use. Through a competitive process, Eaton Corporation was selected from more than 20 manufacturers.</p>

							<p>Progress toward project goals has been assessed against the 1999 FedEx Express W700 standard delivery vehicle which represented the most common model in the FedEx Express fleet.</p>

							<p>Following tests in Sacramento, California, the service launch of the new vehicle started in March 2004 to demonstrate the commercial viability of the lower-emission powertrain in heavy-duty vehicles. These trucks are meeting environmental goals based on lab testing at the Southwest Research Institute. Tests found a particulate matter reduction of 96%, a nitrogen oxide reduction of 65% and a decrease of fuel consumption by 36%, when compared with the 1999 baseline vehicle. To the driver, the HEV is virtually indistinguishable from the standard model in terms of utility and performance.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: FedEx -->

				<!-- BEGIN: UNICEF -->
				<div class="tab-pane" id="m_tabs_1_8" role="tabpanel">
					<div class="col-lg-12">
						<h3 class="m--font-info">UNICEF &amp; Fleet Sharing</h3>
					</div>
					<div class="spacer-lg clear"></div>
					<p>Pooling and sharing vehicles among organisations can result in immediate results – improvements in driving behavior, lower fuel consumption and a reduction in fleet size.</p>

					<p>In 2016, three agencies - UNFPA, UNICEF and UNDP - decided to test fleet sharing in five pilot countries: Lao PDR, Lesotho, Mongolia, Pakistan and Zambia. They pooled their vehicles into a single fleet of 124 vehicles. This joint fleet was managed through an online booking system combined with a vehicle tracking system. Individuals requiring a vehicle could book a trip in the system and the full details of the trip are recorded by the tracking system.</p>
					
					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_15">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Immediate Results
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>Vehicle utilisation data analysis indicated that fleets were 10-15% oversized before this attempt to optimise. Through active moderation of the booking system and proactively combining trips, the opportunity for fleet size reduction increased dramatically. Reduction in fleet size and an increase in fleet utilisation presents significant opportunities for cost reduction beyond the 10-15% immediately evident.</p>

							<p>The use of alerts to inform drivers and encourage changes in behavior resulted in significant driving improvements in all. For example, Zambia saw reductions of 93% in over-speeding, 65% in harsh acceleration, 53% in harsh braking and 45% in harsh cornering.</p>

							<p>In the longer term, this better driving behavior is expected to produce improved fuel consumption, lower maintenance costs, fewer accidents and greater passenger comfort.</p>

							<p>The start-up costs, including hardware supply and installation, administrative setup and training as well as the service subscription fee, were paid back in a matter of months. UNICEF estimates that adopting this system in vehicle fleets throughout the organisation could cut costs by as much as $4 million per year.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: UNICEF -->

				<!-- BEGIN: Jakarta -->
				<div class="tab-pane" id="m_tabs_1_9" role="tabpanel">
					<div class="col-lg-12">
						<h3 class="m--font-info">Jakarta Inspection &amp; Maintenance Program</h3>
					</div>
					<div class="spacer-lg clear"></div>
					<p>In Jakarta, Indonesia, an inspection and maintenance (I/M) program was developed through co-operation between nine bus companies and Swiss Contact, the development organization of the Swiss private business sector. The program measured exhaust opacity, as well as checked vehicle engines for excessive smoke and other types of malfunction.</p>

					<p>In order to be successful, the program also had an education element. Education was aimed at raising awareness among technicians and drivers about environmental issues, as well as providing technical training regarding proper inspections and maintenance. The education element also included fuel-saving Eco-driving.</p>

					<p>In total, over 13,000 buses were tested in two years. In addition, 89 technicians and 1372 drivers were trained. Measures found to be easily addressed included cleaning air filters, adjusting fuel injection timing and injection nozzle pressure, and calibrating the fuel injection pump. In some cases, air filters and injection nozzles had to be replaced.</p>

					<p>Through these better regular maintenance practices, a 30% reduction of diesel soot and a 5% decrease in fuel consumption were obtained. Moreover, another 10% decrease in fuel consumption was achieved through proper driving. Approximately one-third of the vehicles failed the inspection, but over 80% of these vehicles could be repaired without any additional cost. The testing method — a free acceleration emissions test to measure smoke opacity — is a simple and somewhat accurate test, but can indicate if the engine is malfunctioning.</p>
				</div>
				<!-- END: Jakarta -->

				<!-- BEGIN: UPS -->
				<div class="tab-pane" id="m_tabs_1_0" role="tabpanel">
					<div class="col-lg-12">
						<h3 class="m--font-info">UPS’s Environmental Strategy</h3>
					</div>
					<div class="spacer-lg clear"></div>
					<p>In the US, UPS has adopted an environmental strategy focusing on four different components: recycling and reuse; alternative fuels; fleet management; and facility initiative. Recycling and facility initiatives take place primarily within UPS offices, whereas the alternative fuels and maintenance programs focus on the vehicle fleet.</p>

					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_16">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
										UPS alternative fuel strategy
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>UPS has been testing CNG delivery trucks since 1989, and today UPS has the largest fleet of CNG vehicles in the US – over 1,000 vehicles. UPS also has hybrid and propane trucks.</p>

							<p>Experiences derived from using this CNG fleet have been evaluated externally by the US Department of Energy, and overall, the results have been positive:</p>
							<img class="float-right img-responsive" alt="Case studies UPS" src="../../../../assets/cleanFleet/img/CaseStudiesUPS.jpg"/>
							<ul>
								<li>CNG trucks have reportedly reduced emissions of air pollutants significantly.</li>
								<li>Fuel consumption was, however, 40% higher per km, based on energy content, but CO<sub>2</sub> emissions were equivalent to diesel vehicles due to the lower carbon content in natural gas. Newer models of CNG trucks are expected to be significantly more fuel-efficient and thus emit less greenhouse gas than comparable diesel trucks.</li>
								<li>Two drawbacks have been the shorter driving range and the higher maintenance costs. Higher maintenance costs are standard for new technologies, and are expected to even out for CNG and diesel vehicles in the longer term.</li>
							</ul>
						</div>
					</div>
					<!--end::Portlet-->

					<div class="clear"></div>
					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_16">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											UPS maintenance strategy
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>UPS keeps its motor-driven vehicles in top-running condition through computer-scheduled preventative inspections. UPS also trains its drivers in safe and fuel-efficient driving behavior.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<!-- END: UPS -->
			</div>
		</div>
	</div>
	<!--end::Portlet-->
</div>
