<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			Emission control technologies for diesel vehicles can substantially reduce harmful emissions. These technologies can be installed by the manufacturer as a standard feature in new vehicles or be installed afterwards in older vehicles (i.e. retrofitted). However, in order to function, all emissions control technologies require sulphur levels lower than 500 ppm, and some need levels lower than 50 ppm.
			<ol>
				<li>
					<a class="m-nav__link" href="javascript:void(0)" data-content="Reduces PM and HC emissions from diesel vehicles. Requires diesel with less than 500 parts per million of sulphur." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Diesel oxidation catalysts (DOCs)">Diesel oxidation catalysts</a> (DOCs)
				</li>
				<img class="float-right img-responsive" alt="Emission Control for Diesel Vehicles" src="../../../../assets/cleanFleet/img/EmissionControlDieselDPF.jpg"/>
				<li>
					<a class="m-nav__link" href="javascript:void(0)" data-content="Reduces PM and HC emissions from diesel vehicles. Requires low or ultra low sulphur diesel, (50 parts per million or below)." data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Flow through filters (FTFs)">Diesel particulate filters</a> (DPFs)
				</li>
				<li>
					<a class="m-nav__link" href="javascript:void(0)" data-content="Insert definition here::" data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Flow through filters (FTFs)">Flow through filters</a> (FTFs)
				</li>
			</ol>
			<p>These technologies reduce particulate matter, hydrocarbons and carbon monoxide.</p>
			Reducing nitrous oxides is more complicated in a diesel engine; some new technologies are now available:
			<ol>
				<li>
					<a class="m-nav__link" href="javascript:void(0)" data-content="Exhaust system that reduces the emissions of NOx from diesel vehicles. " data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Exhaust Gas Recirculation (EGR)">Exhaust gas recirculation</a> (EGR)
				</li>
				<li>
					<a class="m-nav__link" href="javascript:void(0)" data-content="Insert definition here::" data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Selective Catalytic Reduction (SCR)">Selective catalytic reduction</a>(SCR)
				</li>
				<li>
					<a class="m-nav__link" href="javascript:void(0)" data-content="Insert definition here::" data-placement="right" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="NOx Adsorbers and Lean NOx Systems">NO<sub>x</sub> adsorbers and lean NO<sub>x</sub> systems</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="spacer-sm"></div>
	
	<!--begin::Portlet-->
	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1_1" role="tab">
							<i class="ivycon-maintenance"></i>
							Retrofitting
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_2" role="tab">
							<i class="ivycon-diesel-particulate-filter"></i>
							Nitrogen Oxides (NO<sub>x</sub>)
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
					<p>Some of the more stringent emissions control technologies can, at a reasonable cost, be installed or “retrofitted” into older in-use vehicles. Retrofitting is an appropriate option for heavy-duty diesel vehicles, since these vehicles tend to be used extensively, have a long lifetime, and have high emissions. Retrofitting is also done for many trucks and buses driving in city centers.</p>

					<div class="spacer-xlg"></div>
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Diesel Oxidation Catalysts (DOCs)
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<img class="float-right img-responsive" alt="Diesel Oxidation Catalyst" src="../../../../assets/cleanFleet/img/EmissionControlDieselDOCs.jpg"/>
							<p>DOCs oxidize hydrocarbons, carbon monoxide and the soluble organic fraction of particulate matter. A DOC can work with sulphur levels higher than 500 ppm, but there is a risk that sulphur contained in the fuel will also oxidize. This forms sulfate and thus actually increases the total emissions of particulate matter. The lower the fuel sulphur level, the more efficiently the DOC functions. Emissions reductions from DOC use is estimated to be around 20-50% for particulate matter and 60-90% for hydrocarbons and carbon monoxide.</p>

							<p>DOCs replace the muffler (they are the same size and weight) and take about two hours to install. Installation is straightforward. The cost of retrofitting a DOC varies from $600 up to $1500 for heavy trucks.</p>
						</div>
					</div>
					<!--end::Portlet-->
					
					<div class="spacer-xlg"></div>
					
					<!--begin::Portlet-->
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Diesel Particulate Filters (DPFs)
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<img class="float-right img-responsive" alt="Diesel Particulate Filter" src="../../../../assets/cleanFleet/img/EmissionControlDieselDPF_2.gif"/>
							<p>DPFs capture particulate matter in a filter and oxidize (i.e. burn) the particles. Two types of DPFs exist and vary by how the particulate matter is oxidized. In a passive filter, a catalyst is used that lowers the temperature needed for the exhaust gas to oxidize the particulate matter. In an active system, particulate matter is oxidized by heat as soon as the filter is full. Heat is supplied from outside sources, such as via an electric heater. DPFs (especially passive systems) usually require very low sulphur levels (&lt;15 ppm) in order to prevent contamination by sulphur.</p>

							<p>A DPF with an oxidizing catalyst (passive system) can reduce hydrocarbons, carbon monoxide and particulate matter by 90%. DPFs are more complex systems than DOCs, but can be retrofitted into older vehicles equipped with an electronic injection system. Retrofitting a DPF takes 5-6 hours and is thus more expensive. Equipping truck with DPFs is estimated to cost between $1,000 and $8,000.</p>
						</div>
					</div>
					<!--end::Portlet-->

					<div class="spacer-xlg"></div>

					<!--begin::Portlet--> 
					<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi clear" data-portlet="true" id="m_portlet_tools_2">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="flaticon-statistics"></i>
									</span>
									<h3 class="m-portlet__head-text">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</h3>
									<h2 class="m-portlet__head-label m-portlet__head-label--info">
										<span>
											Flow Through Filters (FTFs)
										</span>
									</h2>
								</div>
							</div>
							<div class="m-portlet__head-tools">
								<ul class="m-portlet__nav">
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-angle-down"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-refresh"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-expand"></i>
										</a>
									</li>
									<li class="m-portlet__nav-item">
										<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
											<i class="la la-close"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="m-portlet__body">
							<p>Unlike a DPF — in which only gas can pass through the filter components — the FTF does not physically "trap" and accumulate particulate matter. Instead, exhaust flows through a medium (such as a wire mesh) that has a high density of interrupted flow channels, thus giving rise to turbulent flow conditions.</p>

							<p>The filtration efficiency of an FTF is lower than that of a DPF, but the FTF is much less likely to clog under unfavorable conditions (e.g. high particulate matter emissions, low exhaust temperatures and emergency circumstances). Consequently, the FTF is a candidate for use in applications that are unsuitable for DPFs. The cost of retrofitting as FTF is estimated to be between $3500 and $5000.</p>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
					<p>Because diesel engines have a different air-to-fuel ratio than petrol engines, 3-way catalytic converters do not function in diesel engines. Diesel engines run with an excess of air (lean combustion), which makes nitrogen oxide (NO<sub>x</sub>) reduction more difficult. Instead, other techniques and catalysts for diesel engines that target NO<sub>x</sub> have been developed, such as exhaust gas recirculation (EGR), selective catalytic reduction (SCR), emulsified diesel, lean NO<sub>x</sub> catalysts, and NO<sub>x</sub> adsorbers.</p>
					
					<div class="spacer-xlg"></div>

					<div class="col-lg-6 col-md-12 no-padding-left">
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_1">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Exhaust gas recirculation (EGR)
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								<p>EGR is used primarily to reduce NO<sub>x</sub> emissions. Because the formation of NO<sub>x</sub> is highly temperature dependent, EGR works by recirculating 5-10% of the exhaust gas back into the engine air inlet in order to lower the combustion temperature and thus lower these emissions. EGR systems can be either high or low-pressure systems. Low-pressure systems can be retrofitted since they require no engine modifications. EGR can reduce NO<sub>x</sub> by about 40-50%.</p>
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg show-on-mobile"></div>
					<div class="col-lg-6 col-md-12 no-padding-right">					
						<!--begin::Portlet-->
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" data-portlet="true" id="m_portlet_tools_2">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
													Selective catalytic reduction (SCR)
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								SCR operates much like a DOC but uses an outside agent to catalyze and reduce the NO<sub>x</sub> to harmless nitrogen and water. SCRs use ammonia (in the form of urea) that is supplied in small doses. This requires a careful monitoring system, as the amount of urea needs to be finely tuned to the amount of NO<sub>x</sub>. If this is not properly monitored, excessive ammonia, which is a toxin, will be emitted. Urea is supplied from a tank in the vehicle that needs to be refilled. SCRs reduces NO<sub>x</sub> by 75-90%.
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg clear"></div>
					<div class="col-lg-6 col-md-12 no-padding-left">
						<!--begin::Portlet--> 
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi clear" data-portlet="true" id="m_portlet_tools_2">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												Lean NO<sub>x</sub> catalysts
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								Lean NO<sub>x</sub> catalysts function much like a SCR, i.e. using an outside agent to convert NO<sub>x</sub> to nitrogen and water. Lean NO<sub>x</sub> catalysts use an extra shot of diesel fuel injected into the catalyst. The advantages are that the diesel is already at hand in the vehicle; however this lowers fuel economy and requires advanced monitoring systems. Lean NO<sub>x</sub> catalysts reduce NO<sub>x</sub> by approximately 30%, and up to 50% under the right conditions.
							</div>
						</div>
						<!--end::Portlet-->
					</div>

					<div class="spacer-xlg show-on-mobile"></div>
					<div class="col-lg-6 col-md-12 no-padding-right">
						<!--begin::Portlet--> 
						<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi clear" data-portlet="true" id="m_portlet_tools_2">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="flaticon-statistics"></i>
										</span>
										<h3 class="m-portlet__head-text">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</h3>
										<h2 class="m-portlet__head-label m-portlet__head-label--info">
											<span>
												NO<sub>x</sub> adsorber
											</span>
										</h2>
									</div>
								</div>
								<div class="m-portlet__head-tools">
									<ul class="m-portlet__nav">
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-angle-down"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href=""  data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-refresh"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#"  data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-expand"></i>
											</a>
										</li>
										<li class="m-portlet__nav-item">
											<a href="#" data-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon">
												<i class="la la-close"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="m-portlet__body">
								A NO<sub>x</sub> adsorber stores NO<sub>x</sub> under lean combustion conditions; when storage capacity has been reached, the NO<sub>x</sub> is catalytically converted to nitrogen and water. NO<sub>x</sub> adsorbers have proven effective in combination with DPFs. NO<sub>x</sub> adsorbers are NOT retrofittable. NO<sub>x</sub> adsorbers reduces NO<sub>x</sub> substantially (by over 90%), but are very sensitive to sulphur poisoning and therefore require ultra-low sulphur diesel (&lt;10ppm).
							</div>
						</div>
						<!--end::Portlet-->
					</div>
					<div class="clear"></div>
				</div>				
			</div>
		</div>
	</div>
	<!--end::Portlet-->
</div>
