<!-- begin::Quick Sidebar -->
<div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
	<div class="m-quick-sidebar__content m--hide">
		<span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
			<i class="la la-close"></i>
		</span>
		<ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
			<li class="nav-item m-tabs__item">
				<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_glossary" role="tab">
					Glossary of Terms
				</a>
			</li>					
		</ul>
		<div class="tab-content">
			<div class="tab-pane active m-scrollable" id="m_quick_sidebar_tabs_glossary" role="tabpanel">
				<div class="m-list-search">
					<div class="m-list-search__results">								
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Acid Rain</strong>: Rainfall made so acidic by atmospheric pollution that it causes environmental harm, chiefly to forests and lakes. The main cause is the industrial burning of coal and other fossil fuels, the waste gases from which contain sulphur and nitrogen oxides which combine with atmospheric water to form acids.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Acidification</strong>: Excessive amounts of sulphuric and nitric acid are formed from sulphur and nitrogen oxide emissions into the atmosphere, and are deposited in the environment.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Biofuel</strong>: Vehicle fuel derived from biomass, i. e, grain, sugar cane, corn, wood.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Bioethanol</strong>: Ethanol derived from biomass, usually sugar cane, corn or grain.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Biodiesel</strong>: Diesel derived from biomass, usually rapeseed or other vegetable oils.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Catalytic Converter</strong>: An exhaust emission control device that converts toxic gases and pollutants in exhaust gas from an internal combustion engine into less-toxic pollutants by catalyzing a redox reaction (an oxidation and a reduction reaction).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>CO = carbon monoxide</strong>: A colorless, odorless and tasteless — but toxic — gas formed in incomplete combustion. CO is extremely dangerous if inhaled at high concentrations because it has a greater affinity than oxygen for red blood cells (hemoglobin), reducing its ability to transport oxygen to vital organs.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>CO<sub>2</sub> = carbon dioxide</strong>: A colorless gas formed during the combustion of any material containing carbon and is an important greenhouse gas.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Cardiovascular diseases</strong>: Diseases that affect the heart and circulatory system.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Climate change</strong>: A process whereby human activities resulting in the emission of greenhouse gas (mostly CO<sub>2</sub> and methane) change the climate in the long term. This is also referred to as “global warming”
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>CNG = Compressed Natural Gas</strong>: Cleaner vehicle fuel used in adapted normal combustion engines.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Dispersion model</strong>: Model that describes the dispersion of vehicle emission into the surrounding environment.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Dose-response model</strong>: Model that describes the relationship between a concentration of a certain pollutant and the health effects in people.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>DOC = Diesel Oxidation Catalyst</strong>: Reduces PM and HC emissions from diesel vehicles. Requires diesel with less than 500 parts per million of sulphur.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>DPF = Diesel Particulate Filter</strong>: Reduces PM and HC emissions from diesel vehicles. Requires low or ultra low sulphur diesel, (50 parts per million or below).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Drive train</strong>: Includes the energy conversion and the power distribution system in the vehicle, or put more simply, the engine and the transmission on a normal vehicle (a mechanical drive train). An electric drive train used in a hybrid vehicle, fuel cell vehicle or in a battery electric vehicle consists of an electric motor, power electronics, power battery, and a transmission.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Eco driving</strong>: Education in better driving behavior that lowers fuel consumption, emissions and accidents.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>EGR = Exhaust Gas Recirculation</strong>: Exhaust system that reduces the emissions of NO<sub>x</sub> from diesel vehicles.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Electric vehicle</strong>: Vehicle with an electric drive train. Can be either a purely battery powered electric vehicle, a hybrid electric vehicle (using both battery and fossil fuel combustion), or a fuel cell electric vehicle.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Emission factors</strong>: The emission per km driven under normal conditions for vehicles, usually measured in g/km.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Engine tune-up</strong>: Optimizing the engine’s performance by calibrating the ignition system, air supply system, and fuel supply system.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Euro standards</strong>: European Union emission standards (in g/km). Started with Euro 1 in the early 1990s and has become progressively more stringent.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Eutrophication</strong>: This is also called “nutrient pollution” and is caused partly by nitrogen oxide emissions.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>FCEV = Fuel Cell Electric Vehicle</strong>: Uses a fuel cell instead of a combustion engine, see below.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Fuel cell</strong>: Chemical engine that converts hydrogen (H2) to electricity and water with high efficiency.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Greenhouse gas</strong>: Gas that contributes to global warming and thus climate change.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>HEV = Hybrid Electric Vehicle</strong>: Combines an electric motor with a combustion motor. The vehicle can drive on a rechargeable battery some of the time, thus lowering fuel consumption. See also PHEV (Plug-in hybrids).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>HC = Hydrocarbons</strong>: Pollutant formed under combustion. Together with NO<sub>x</sub> and under the influence of sunlight, HC can form ground level ozone.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>ICEV = Internal combustion engine vehicle</strong>: Today’s conventional vehicle with a combustion engine.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Low sulphur diesel</strong>: Diesel with less than 50 parts per million (ppm).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>NO<sub>x</sub> = Nitrogen Oxides</strong>: NO<sub>x</sub> is the common name for nitrogen oxide (NO) and nitrogen dioxide (NO<sub>2</sub>).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>O<sub>3</sub> = Ozone</strong>: Ozone is found in the lower atmosphere (ground-level) and higher up in the stratosphere (stratospheric ozone). Ground-level ozone is a main component of photochemical smog and damages human health.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Pb = Lead</strong>: Lead is a bluish or silver-gray soft metal. Two of its most important forms in terms of air pollution are tetraethyl lead and tetra methyl lead. These two forms of lead are used as "anti-knock" additives in petrol.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Plug-in hybrids (PHEV)</strong>: Hybrid electric vehicle that can use petrol or diesel and can also be charged with electricity from the electric grid.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>PM</strong>: Particulate matter or small particles emitted from the exhaust.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>PM 10</strong>: Particles smaller than 10 microns.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>PM 2.5</strong>: Particles smaller than 2.5 microns.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Unleaded petrol</strong>: Petrol with no added lead. Standard in almost all countries today.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Ultra low sulphur diesel (ULSD)</strong>: Diesel with very low sulphur levels (less than 15 ppm). Standard in the EU and in the US.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Respiratory diseases</strong>: Diseases that affect the lung system.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Retrofit</strong>: Fitting an exhaust emission control technology on an existing vehicle
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Solar hydrogen</strong>: Hydrogen derived from solar energy via electrolysis of water (solar electricity + water = hydrogen + oxygen).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>SO<sub>2</sub> = Sulfur dioxide</strong>: A colorless, heavy gas with a pungent smell, also known to be an irritant. SO<sub>2</sub> causes acidification.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Suspended particulate matter (PM)</strong>: This refers to particles in the air of all sizes. SPM is a complex mixture of organic substances, present in the atmosphere both as solid particles and liquid droplets. They include fumes, smoke, dust and aerosols.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>3-way catalyst</strong>: Catalyst that reduces three emissions — hydrocarbons, nitrogen oxides and carbon monoxide — from petrol fueled vehicles. Requires lead-free petrol.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>2-stroke engine</strong>: Older type of engine still used in smaller engine applications such as small mopeds, lawn mover, and old motorcycles. Most engines today are 4-strokes. “2-stroke” refers to the number of linear movements of the piston between every ignition.
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>Wheel alignment</strong>: Correcting wheels that are not aligned (parallel).
							</span>
						</p>
						<p class="m-list-search__result-item">
							<span class="m-list-search__result-item-text">
								<strong>VOC = Volatile Organic Compounds</strong>: Comprised of a wide range of individual substances including hydrocarbons (alkenes, alkenes, and aromatics), halocarbons (e.g. trichloroethylene), and oxygenates (alcohols, aldehydes, and hetons). They are all organic compounds and are volatile enough to exist as vapor in the atmosphere under normal conditions.
							</span>
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- end::Quick Sidebar -->