<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h2 class="m-subheader__title m-subheader__title--separator">
				{{innerPageTitle}}
			</h2>
		</div>
		<div>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Clean Fleet Toolkit
						</span>
					</a>
				</li>								
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--bordered m-portlet--bordered-semi">
		<div class="m-portlet__body spacer-lg">
			In addition to impacts on human health, air pollution has negative impacts on the natural environment, including: ground-level ozone; acidification; and climate change.
		</div>
	</div>
	<!--begin::Portlet-->	
	<div class="m-portlet m-portlet--tabs">
		<div class="m-portlet__head">
			<div class="m-portlet__head-tools">
				<ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_1_1" role="tab">
							<i class="ivycon-fog-sun"></i>
							Ground-level ozone
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_2" role="tab">
							<i class="ivycon-lightning-black-1"></i>
							Acidification
						</a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_1_3" role="tab">
							<i class="ivycon-global-warming"></i>
							Climate change
						</a>
					</li>					
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<div class="tab-content">
				<div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
					<img class="float-left img-responsive" alt="Ground Level Ozone" src="../../../../assets/cleanFleet/img/EnvironmentalImpactGroundLevelOzone.jpg"/>

					<p>Emissions of nitrogen oxides and hydrocarbons form <a class="m-nav__link" href="javascript:void(0)" data-content="Ozone is found in the lower atmosphere (ground-level) and higher up in the stratosphere (stratospheric ozone). Ground-level ozone is a main component of photochemical smog and damages human health." data-placement="top" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Ground-level Ozone">ground-level ozone</a> which is toxic to animals and plants. Damage to crops from ground-level ozone can lead to reduced agricultural productivity.</p>
					<div class="clear"></div>
				</div>
				<div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
					<img class="float-left img-responsive padding-right-sm" alt="Acidification" src="../../../../assets/cleanFleet/img/EnvironmentalImpactAcidification.jpg"/>

					<p>Acidification occurs when sulphur and nitrogen oxide emissions form sulphuric and nitric acid which are deposited into the environment. Impacts can include: reduced agricultural productivity; reduced aquatic life in lakes; and “stressed” forest that either grows slowly or dies altogether. See <a class="m-nav__link" href="javascript:void(0)" data-content="Rainfall made so acidic by atmospheric pollution that it causes environmental harm, chiefly to forests and lakes. The main cause is the industrial burning of coal and other fossil fuels, the waste gases from which contain sulphur and nitrogen oxides which combine with atmospheric water to form acids." data-placement="top" data-skin="dark" data-toggle="m-popover" data-trigger1="focus" title="" type="button" data-original-title="Acid Rain">acid rain</a> for more details.</p>
					<div class="clear"></div>
				</div>
				<div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
					<p>Climate change is characterized by rising average global temperatures. The majority of scientists, climate experts and governments agree that the effects of climate change will be severe on plant and animal life as well as on virtually every economic sector. Action must be taken. Here is more information on <a routerLink="/climate-change-and-the-greenhouse-effect" class="m-link">climate change</a>.</p>
				</div>				
			</div>
		</div>
	</div>
	<!--end::Portlet-->
</div>
